allure-pytest==2.14.3
asyncio==3.4.3
black==25.1.0
browser-use==0.5.4
fastapi==0.116
mypy==1.16.1
playwright==1.53.0
pydantic==2.11.7
pydantic-settings==2.10.1
pytest==8.4.1
pytest-bdd==8.1.0
python-dotenv==1.1.1
requests==2.32.4
ruff==0.12.3
streamlit==1.46.1
types-requests==2.32.4.20250611
uvicorn==0.35.0
